.loginContainer {
  background-image: linear-gradient(
      rgba(65, 65, 65, 0.25),
      rgba(46, 46, 46, 0.25)
    ),
    url(https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rccgMotto {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  color: rgb(179, 179, 179);
  text-shadow: 5px 5px 10px rgb(44, 44, 44);
  text-align: center;
  font-weight: 500;
  flex-wrap: wrap;
  margin-top: 30px;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}
